input {
    height: 20px;
    font-size: 2em;
    padding: 20px;
    
}
text-area {
    height: 20px;
    font-size: 2em;
    padding: 20px;
}

button {
    
    font-size: 1em;
    padding: 20px;  
    font-weight: bold;
}