@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --lightest: white;
  --highlight: #f06;

  --lighter-grey: #E5E5E5;
  --light-grey: #c4c4c4;
  --middle-grey: #666;
  --dark-grey: rgb(38, 38, 38);
  --darkest: black;

  --header-height: 12vh;
  --navbar-height: 8vh;
  --folating-button-height: 15vh;
  --rest-of-height: 80vh;
}

%small-caps {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

%button {
  @extend %small-caps;
  background-color: var(--light-grey);
  color: var(--dark-grey);
  //width: 160px;
  padding: 0 50px;
  height: 60px;
  border-radius: 60px;
  border: none;
  box-shadow: 2px 2px 0 0px rgba(0, 0, 0, 0.1);
}

%pink-button {
  @extend %button;
  color: var(--lightest);
  background-color: var(--highlight);
}


%bg-image {
  position: fixed;
  width: 100vw;
  height: auto;
  top: 0;
  z-index: -1;
}

.fixed-button-container {
  width: 100vw;
  position: fixed;
  bottom: var( --folating-button-height);
  display: flex;
  justify-content: center;
}




html,
body {
  background-color: var(--darkest);
  color: var(--light-grey);
  font-family: "Roboto", "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
a {
  color: var(--lightest);
  text-decoration: none;
}
button:focus {
  outline: 0;
}
h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  margin-left: 25px;
}
h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}
h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 0px;
}


/* ---------------------------------------- */
.header {
  width: 100vw;
  height: var(--header-height);
  background-color: var(--darkest);
  position: fixed;
  top: 0;
  border-bottom: 1px solid var(--middle-grey);
}

.scroll-container {
  position: fixed;
  top: var(--header-height);
  width: 100vw;
  height: var(--rest-of-height);
  overflow-y: scroll;
  z-index: -1;
}
nav.navbar {
  display: flex;
  justify-content: space-around;
  background: var(--darkest);
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: var(--navbar-height);
  border-top: 1px solid var(--middle-grey);
}

button {
  cursor: pointer;
  font-weight: bold;
}

.close-x {
  position: fixed;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
/* --------Splash / Login / Signup------------ */
.auth {
  width: 90vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.splash-image {
  @extend %bg-image;
  opacity: 0;
  animation-name: fadein;
  animation-duration: 3s;
  animation-delay: 1s;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.logo {
  width: 300px;
  height: auto;
  margin-bottom: 40px;
  /* animation-name: blow; */
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 3.5s;
}
@keyframes blow {
  0% {
    opacity: 1;
    width: 300px;
  }
  100% {
    opacity: 0;
    width: 800px;
  }
}

.bg-image {
  @extend %bg-image;
}

.inputAuthForms {
  width: 85vw;
  display: block;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 300;
  color: var(--dark-grey);
  box-sizing: border-box;
  border-radius: 2em;
  background-color: var(--lightest);
  border: none;
  padding: 21px;
  padding-left: 32px;
  margin: 20px;
}
.inputAuthForms:focus {
  outline: 0;
}

.button-submit-container {
  width: 85vw;
  @extend %small-caps;
  display: flex;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.button-submit-container input {
  //the pink button itself
  @extend %pink-button;
  width: 42vw;
  margin-left: 10vw;
}
.button-submit-container input:hover {
  outline: 0;
}
